/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-phonicscore-githubauthvideo{
	padding: 2px;
 }

.is-selected .wp-block-phonicscore-githubauthvideo {
	border: solid 1px blue;
}
.githubvideoauth-video-auth-splash-container{
	position: relative;
	text-align: center;
}

.githubvideoauth-video-auth-splash-image{
	display: block;
	height: auto;
	max-width: 100%;
}

.githubvideoauth-video-auth-splash-cover{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	position: absolute;
	top: 0;
	left: 0;
}
.githubvideoauth-sponsor-message-block{
	color: #ff0000;
	margin-bottom: 15px;
}
.github-icon{
	display: inline;
	margin-right: 5px;
	vertical-align: middle;
}
.github-button-text{
	vertical-align: middle;
}
.githubvideoauth-video{
	max-width: 100%;
	border: none;
    outline: none;
}